*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
*.egg-info
.idea

# CDK asset staging directory
.cdk.staging
cdk.out

# Mac OS X
.DS_Store

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/.terraform.lock.hcl
**/terraform.log

# make sure any local keys are not uploaded!
**/key.*
**/*secrets.*

# Crash log files
crash.log
**/.secrets/*
**/customer_example/aws/bash/*
**/customer_example/aws/var_files/*
**/customer_example/gcp/bash/*
**/customer_example/gcp/var_files/*
**/customer_example/azure/bash/*
**/customer_example/azure/var_files/*

./cdk.context.json